body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-center{
  text-align: center;
}
.card-title{
  font-weight: 700 !important;
  text-transform: capitalize !important;
}
h2{
  position: relative;
}
h2::after{
  background-color: crimson;
  content: '';
  width: 60px;
  height: 3px;
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
}
.container{
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}