.home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons{
    display: flex;
    gap: 1rem;
}
button{
    border: none;
    outline: none;
    border-radius: 8px;
    color: #fff;
    font-size: 17px;
    padding: .3rem .8rem;
    cursor: pointer;
}
button:first-child{
    background-color: crimson;
}
button:last-child{
    background-color: lime;
}
