.nav-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
}
.nav-menu li a{
    text-decoration: none;
    color: #181818;
    position: relative;
}
.nav-menu li a:hover{
    color: #624862;
}
.mobile-nav-menu{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    min-width: 250px;
    padding-top: 50px;
}
.mobile-nav-menu *{
    color: #181818;
    font-size: 20px;
}